PORT=4000
HOST=0.0.0.0
NODE_ENV=development
CORS_ORIGIN=

TMDB_API_KEY=your_tmdb_api_key
TMDB_BASE_URL=https://api.themoviedb.org/3

OMDB_API_KEY=your_omdb_api_key
OMDB_BASE_URL=https://www.omdbapi.com

REDIS_URL=redis://127.0.0.1:6379
DEFAULT_REGION=IN
